<app-nav-bar (eventToOpenModal)="toggleModal($event)" ></app-nav-bar>

 <app-actionmodal   [modalDetails]="modalDetails"></app-actionmodal>

<div class="row">
    <div class="container">
        <div class="panel panel-default">
            <div class="card">
        <table class="table table-hover table-responsive-sm ">
        <tr   >
        
        <td>First Name</td>
        <th>actions</th>
        <th></th>
        </tr>
        
        <tbody>
        <tr class="table-light" *ngFor="let user of users" >
        
        <td> <span><img src="{{user.avatar}}" alt="Avatar" class="avatarImg"></span>  {{ user.first_name}}  {{user.last_name}}</td>
        
        <td> 
         
         <button type="button" class=" btn btn-outline-secondary" (click)="onEdit(user)">
            <span class="fa fa-edit"></span>
          </button>
          <button type="button" class="btn btn-outline-secondary" (click)="onDelete(user)">
            <span class="fa fa-trash-o"></span></button>
        </td>
        <td><a><i class="fa fa-angle-right"></i></a></td>
       
        </tr>
       
        </tbody>
        </table>
        </div>

        </div>
        <br>
    
</div>
 